.full-hero {
    background: #c7dbfc;
    height: 50vw;
    width: 50vw;
}

.full-hero li {
  display: inline;
}

a {
    color: rgba(212,152,227,0.2);
  }

.bio-box {
  border: 10px solid black;
  margin: 10%;
  font-size: 150%;
}

.bio-copy a {
  color: green;
  font-size: 150%;
}

.social-link {
  display: inline-block;
  color: blue;
}

.show {
  display: block;
}