div {
    border: 1px solid black;
}

#exec-bio {
    background-color: lightgrey;
}

.bio-box {
    border: 1px solid black
}

.bio-box a {
    color: green;
}

.azure-box {
    background-color: azure;
}