/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

/* Global Styles */

:root {
    --background-color: hsl(30, 54%, 90%);
    --background-color-deep: hsl(30, 18%, 87%);
    --background-color-light: hsl(0, 0%, 100%);
    --font-color: hsl(30, 10%, 34%);
    --font-color-deep: hsl(24, 5%, 18%);
    --font-color-highlight-brown: hsl(14, 45%, 36%);
    --font-color-highlight-rose: hsl(332, 51%, 32%);
    --font-color-highlight-rose-light: hsl(330, 100%, 98%);
}

h1, h2, h3 {
    font-family: 'Young Serif', serif;
    color: var(--font-color-highlight-brown);
    font-weight: 400;
}

.wrapper {
    background-color: var(--background-color);
    font-family: 'Outfif', sans-serif;
    font-size: 16px;
    color: var(--font-color);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: var(--background-color-light);
    overflow: hidden;
    padding: 1.5rem;
    border-radius: 12px;
    
}

.header img {
    max-width: 100%;
    border-radius: 12px;
}

.header .recipe-name {
    font-family: "Young Serif", serif;
    font-size: 1.5rem;
    color: var(--font-color-deep);
}

.recipe {
    font-size: 14px;
    font-weight: 400;
}

.prep-time,
.ingradients,
.instructions,
.nutrition {
    padding: 1.5rem 0;
}

.prep-time {
    background-color: var(--font-color-highlight-rose-light);
    border-radius: 12px;
    padding: 0.5rem 1rem;
    line-height: 2;
}

.prep-time h3 {
    color: var(--font-color-highlight-rose);
    font-family: 'Young Serif', serif;
}

.prep-time .list-heading,
.instructions .list-heading {
    font-weight: 600;
}

.prep-time li::marker {
    color: var(--font-color-highlight-rose);
}

.ingradients,
.instructions {
    border-bottom: 1px solid hsla(30, 10%, 34%, 0.4);
}

.nutrition table {
    width: 100%;
}

.nutrition table td {
    border-bottom: 1px solid hsla(30, 10%, 34%, 0.4);
    padding: 0.5rem 0;
}

.nutrition table .macro-figures {
    color: var(--font-color-highlight-rose);
    font-weight: 600;
}

/* Credits section */
.attribution {
    font-size: 11px;
    text-align: center;
}


/* Media Queries */

@media screen and (min-width: 576px) {

    .main {
        width: 40%;
        margin: 10vh auto;
    }

    .header {
        width: 100%;
    }

    .header img {
        max-width: 100%;
    }

    .header .recipe-name {
      font-size: 2rem;
    }

    .recipe {
      font-size: 16px;
    }
}