/* Imports */



/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base Styles */

:root {
    --secondary-color: hsl(75, 94%, 57%);
    --primary-color: hsl(0, 0%, 100%);
    --dark-background-color: hsl(0, 0%, 20%);
    --darker-background-color: hsl(0, 0%, 12%);
    --darkest-background-color: hsl(0, 0%, 8%);
}


body {
    font-family: 'Inter', sans-serif;
    color: var(--primary-color);
    background-color: var(--darkest-background-color);
    font-size: 14px;
    font-weight: 400;
}


.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--primary-color);
}

/* Element Styles */

.container {
    height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 375px;
    background-color: var(--dark-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    border-radius: 16px;    
}

.card .card-content {
    width: 90%;
}

.card .card-header {
    text-align: center;
}

.profile-avatar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 12px solid var(--darker-background-color);
    margin-bottom: 12px;
}


.card-header .profile-name,
.card-header .profile-location,
.card-header .profile-description {
   display: inline-block;
}

.profile-name {
    margin-bottom: 8px;
    font-size: 1.75rem;
    font-weight: 700;
}

.profile-location {
    margin-bottom: 16px;
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 600;
}

.profile-description {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--primary-color);
    margin-bottom: 12px;
}


/* Wider screen designs */

@media screen and (min-width: 450px) {
   
   
.card {
    width: 440px;
    background-color: var(--dark-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 16px;    
}

.card .card-content {
    width: 90%;
}

.card .card-header {
    text-align: center;
}
}
