/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base Styles */

:root {
    --primary-color: hsl(0, 0%, 100%);
    --secondary-color: hsl(0, 0%, 7%);
    --primary-contrast-color: hsl(47, 88%, 63%);
    --secondary-contrast--color: hsl(0, 0%, 42%);
}

body {
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--secondary-color);
}

.container {
    background-color: var(--primary-contrast-color);
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--primary-color);
    width: 375px;
    padding: 1.5rem 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 8px 12px 0 var(--secondary-color);
}

.featured-image,
.post {
    /* width: 20rem; */
    margin-bottom: 1.25rem;
}

.featured-image img {
    border-radius: 0.5rem;
}

.post .category {
    padding: 2px 8px;
    max-width: fit-content;
    background-color: var(--primary-contrast-color);
    font-size: 0.75rem;;
    font-weight: 800;
    margin-bottom: 1rem;
}

.post .post-meta {
    font-size: 0.875rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

.post .post-title {
    font-size: 1.25rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.post .post-title:focus,
.post .post-title:active {
    color: var(--primary-contrast-color);
    cursor: pointer;
}

.post .post-exerpt {
    color: var(--secondary-contrast--color);
    line-height: 1.25;
    letter-spacing: 0.5px;
}

.author-meta {
    width: 100%;;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.author-meta .author-image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.author-meta .author-name {
    font-size: 0.875rem;
    font-weight: 800;
}

/* Attribution */
.attribution {
    height: 2vh;
    background-color: var(--primary-contrast-color);
    font-size: 11px;
    text-align: center;
}

